# Ignore venv directory
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore environment-specific settings
.env

# Ignore IDE files
.vscode/
.idea/

# Ignore package build files
dist/
build/
*.egg-info/
